@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Outfit  ,sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


.navbar {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .navbar .logo{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbar .logo img {
    width: 100px;
  }
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-style: 18px;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .navbar button {
    font-size: 16px;
    background: transparent;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  .navbar button:hover {
    background-color: #fff4f2;
  }
  .active2 {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
  }
  .navbar li {
    cursor: pointer;
  }
  
  .navbar-search-icon {
    position: relative;
  }
  .navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
  }

/* login form css  */
.login-button button, .logout button{
    padding: 6px 30px;
    border: 1px solid rgb(155, 152, 152);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #f4a259;
    color: #ae2012;
}

.login-button button:hover , .logout button:hover{
    background-color: rgb(238, 204, 204);
}
.logout{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.login{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
    
}
.login-container{
    place-self: center;
    width: max(23vw,330px);
    background-color: #fff;
    color: #808080;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    gap: 25px;
}
.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-inputs input{
    padding: 10px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
}
.login-container button{
    padding: 10px;
    outline: none;
    color: white;
    background-color: tomato;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    font-size: 15px;
}
.login-condition{
    display: flex;
    align-items: start;
  gap: 0.5rem;
  margin-top: -15px;

}
.login-condition input{
    margin-top: 3px;
    cursor: pointer;
}
.login-container p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}


.login-container button:last-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #fff;
    color: #504f4f;
    transition: 0.3s;
}
.login-container button:last-of-type:hover{
    background-color: rgba(172, 203, 248, 0.534);
    color: rgb(21, 21, 187);
}

/* Header css */
.header {
    height: 34vw;
    margin: 30px auto;
    background: url("./assets/header_img.png") no-repeat;
    background-size: contain;
    position: relative;
    width: 80%;
    margin: auto;
   
  }

  .header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
  }
  .header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
  }
  .header-contents p {
    color: white;
    font-size: 1vw;
  }
  .header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
  }


  /* menu css */
  .explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  .explore-menu h1 {
    color: #262626;
    font-weight: 500;
  }
  .explore-menu-text {
    max-width: 60%;
    color: #808080;
  }
  .explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
  }
  
  .explore-menu-list::-webkit-scrollbar {
    display: none;
  }
  .explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
  }
  .explore-menu-list-item p {
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
  }
  .explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
  }
  .explore-menu-list-item .active {
    border: 4px solid tomato;
    padding: 2px;
  }

/* footer css */
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #d9d9d9;
    background-color: #323232;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left , .footer-content-center , .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left li, .footer-content-center li, .footer-content-right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 26px;
    color: #fad643;
}
.footer-content-logo img{
    width: 80px;
}
.footer-content-center h2, .footer-content-right h2{
    color: white;
}

.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: gray;
    border: none;
}

/* ai recipe css */
.recipe-container{
    width: 60%;
    border: 2px solid red;
    padding: 4rem 2rem;
    margin: 2rem auto;
}
.recipe-container form{
 text-align: center;
 margin-bottom: 2rem;
}
.recipe-container form input{
    padding: 10px;
    width: 40%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    margin-right: 1rem;
}
.recipe-container form button{
    padding: 7px 18px;
    outline: none;
    color: white;
    background-color: tomato;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    font-size: 15px;
}


/* navbar media query */

/* footer media query */

@media screen and (max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}