@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Outfit  ,sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


.navbar {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
  }
  .navbar .logo{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .navbar .logo img {
    width: 100px;
  }
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-style: 18px;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .navbar button {
    font-size: 16px;
    background: transparent;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  .navbar button:hover {
    background-color: #fff4f2;
  }
  .active2 {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
  }
  .navbar li {
    cursor: pointer;
  }
  
  .navbar-search-icon {
    position: relative;
  }
  .navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
  }

/* login form css  */
.login-button button, .logout button{
    padding: 6px 30px;
    border: 1px solid rgb(155, 152, 152);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #f4a259;
    color: #ae2012;
}

.login-button button:hover , .logout button:hover{
    background-color: rgb(238, 204, 204);
}
.logout{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.login{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
    
}
.login-container{
    place-self: center;
    width: max(23vw,330px);
    background-color: #fff;
    color: #808080;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    gap: 25px;
}
.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-inputs input{
    padding: 10px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
}
.login-container button{
    padding: 10px;
    outline: none;
    color: white;
    background-color: tomato;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    font-size: 15px;
}
.login-condition{
    display: flex;
    align-items: start;
  gap: 0.5rem;
  margin-top: -15px;

}
.login-condition input{
    margin-top: 3px;
    cursor: pointer;
}
.login-container p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}


.login-container button:last-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #fff;
    color: #504f4f;
    transition: 0.3s;
}
.login-container button:last-of-type:hover{
    background-color: rgba(172, 203, 248, 0.534);
    color: rgb(21, 21, 187);
}

/* Header css */
.header {
    height: 34vw;
    margin: 30px auto;
    background: url("./assets/header_img.png") no-repeat;
    background-size: contain;
    position: relative;
    width: 80%;
    margin: auto;
   
  }

  .header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
  }
  .header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
  }
  .header-contents p {
    color: white;
    font-size: 1vw;
  }
  .header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
  }


  /* menu css */
  .explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }
  .explore-menu h1 {
    color: #262626;
    font-weight: 500;
  }
  .explore-menu-text {
    max-width: 60%;
    color: #808080;
  }
  .explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
  }
  
  .explore-menu-list::-webkit-scrollbar {
    display: none;
  }
  .explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
  }
  .explore-menu-list-item p {
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
  }
  .explore-menu hr {
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
  }
  .explore-menu-list-item .active {
    border: 4px solid tomato;
    padding: 2px;
  }


  /* food display css */
  .food-display {
    margin-top: 30px;
    width: 80%;
    margin: auto;
  }
  .food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
  }
  .food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
  }

  /*single food item css */

  .food-item {
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
  }
  .food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }
  .food-item-info {
    padding: 20px;
  }
  .food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
  }
  .food-item-name-rating img {
    width: 70px;
  }
  .food-item-desc {
    color: #676767;
    font-size: 12px;
  }
  .food-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
  }
  .food-item-img-container {
    position: relative;
  }
  .food-item-img-container .add {
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
  }
  .food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
  }
  .food-item-counter img {
    width: 30px;
  }
  .add2 {
    cursor: pointer;
  }


/* footer css */
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #d9d9d9;
    background-color: #323232;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left , .footer-content-center , .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left li, .footer-content-center li, .footer-content-right li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 26px;
    color: #fad643;
}
.footer-content-logo img{
    width: 80px;
}
.footer-content-center h2, .footer-content-right h2{
    color: white;
}

.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color: gray;
    border: none;
}

/* ai recipe css */
.recipe-container{
    width: 60%;
    padding: 4rem 2rem;
    margin: 2rem auto;

}
.recipe-container form{
 text-align: center;
 margin-bottom: 2rem;
}
.recipe-container form input{
    padding: 10px;
    width: 40%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    margin-right: 1rem;
}
.recipe-container form button{
    padding: 7px 18px;
    outline: none;
    color: white;
    background-color: tomato;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    cursor: pointer;
    font-size: 15px;
}

.recipe-container .output-detail{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
 
}
.container{
  margin-bottom: 1.5rem;
  
}
.container h3{
  color: #6a040f;
  font-weight: 500;
  font-size: 20px;
}
.container span{
  font-size: 18px;
  font-weight: 700;
  font-family: Raleway , sans-serif ;
  margin-bottom: 0.5rem;
  display: inline-block;
  color: #370617;
}
.container ul{
   padding-left: 10px;
}
.container ul li{
  margin-bottom: 0.25rem;
  color: #800f2f;
}
.container p{
  font-family: Reddit Mono , sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #1c2541;
}


/* cart page css  */


.cart {
 
  width: 80%;
  margin: auto;
  margin-top: 100px;
}
.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
}
.cart-items-item {
  margin: 10px 0px;
  color: black;
}
.cart-items-item img {
  width: 50px;
}
.car hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}
.cart-items-item .cross {
  cursor: pointer;
}
.cart-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw, 20px);
}
.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #555;
}
.cart-total hr {
  margin: 10px 0px;
}
.cart-total button {
  border: none;
  color: white;
  background-color: tomato;
  width: max(15vw, 200px);
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}
.cart-promoCode {
  flex: 1;
}
.cart-promoCode p {
  color: #555;
}
.cart-promoCode-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}
.cart-promoCode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}
.cart-promoCode-input button {
  width: max(10vw, 150px);
  padding: 12px 5px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.empty-cart {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.empty-cart img {
  width: 275px;
  height: 259px;
}
.empty-cart p {
  font-size: 18px;
  font-weight: 600;
  color: #484646;
  padding: 15px 0px;
}
.empty-cart button {
  border: none;
  background-color: tomato;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 10px;
}
.promoCodeBox {
  padding: 15px 0px;
}
.promoCodeText1 {
  color: #555;
}
.promoCodeText2 {
  border: 1px dashed black;
  color: tomato;
  padding: 4px;
  margin-left: 5px;
}
.expand-box {
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expand-box span {
  cursor: pointer;
}



/* navbar media query */

/* footer media query */

@media screen and (max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}